{% extends 'common/_layout.html' %}
{% set site_title = '404' %}
{% set home = false %}

{% block content %}

<section class="page404">
  <div class="container">
    <h1>404</h1>
    <h2 class="titl-md">Ошибка. Страница не найдена</h2>
    <p>Страница, которую вы ищите, не найдена.<br> Вы можете перейти к выбору тренировок по направлению или найти тренировку через строку поиска.</p>
    <div class="btn-wrap"><a href="#" class="btn btn-purple">Смотреть тренировки</a></div>
  </div>
</section>

{% endblock %}