{% extends 'common/_layout.html' %}
{% set site_title = 'Главная' %}
{% set home = true %}

{% block content %}

<section class="promo">
  <div class="promo-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="img/promo-1.jpg" alt=""></div>
      <div class="swiper-slide"><img src="img/promo-2.jpg" alt=""></div>
    </div>
  </div>
  <div class="container">
    <div class="promo-content">
      <img src="img/svg/promo-title.svg" alt="">
      <p>Выбирайте тренировки и авторские курсы в онлайн или офлайн формате</p>
      <div class="btn-wrap">
        <a href="#" class="btn btn-purple">Смотреть все тренировки</a>
        <a href="#" class="btn btn-outline">Все тренеры</a>
      </div>
      <div class="promo-pagination"></div>
    </div>
  </div>
</section>

<section class="who">
  <div class="container">
    <h2 class="title-xl">Как работает наш сервис</h2>
    <h3 class="title-xs">Основые шаги</h3>
    <div class="who-row who-count">
      <div class="who-item">
        <img src="img/who-1.jpg" alt="">
        <h4>Выберите тренировку, которая вам понравится</h4>
        <div class="who-hover">
          <h5>Запланируйте встречу</h5>
          <p>Развернутое описание про этот этап: 1-2 предложения. Описывает важные моменты. Выводится при наведении.</p>
        </div>
      </div>
      <div class="who-item who-item__black">
        <img src="img/who-2.jpg" alt="">
        <h4>Получите подробную консультацию, познакомьтесь с тренером</h4>
        <div class="who-hover">
          <h5>Запланируйте встречу</h5>
          <p>Развернутое описание про этот этап: 1-2 предложения. Описывает важные моменты. Выводится при наведении.</p>
        </div>
      </div>
      <div class="who-item">
        <img src="img/who-3.jpg" alt="">
        <h4>Выберите время и формируйте плановое расписание тренировок</h4>
        <div class="who-hover">
          <h5>Запланируйте встречу</h5>
          <p>Развернутое описание про этот этап: 1-2 предложения. Описывает важные моменты. Выводится при наведении.</p>
        </div>
      </div>
    </div>
    <div class="btn-wrap"><a href="#" class="btn btn-tg"><img src="img/svg/tg.svg" alt="">Задать вопрос в чате</a></div>
  </div>
</section>

<section class="find">
  <div class="container">
    <h2 class="title-xl">Как найти курс, тренировку или другую услугу</h2>
    <div class="find-section">
      <div class="find-top">
        <h3 class="title-lg">Ищите тренировки по направлению,<br> которое вас интересует</h3>
        <a href="#" class="btn btn-outline">Смотреть все тренировки</a>
      </div>
      <div class="find-dir swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">{% include 'common/dir-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/dir-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/dir-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/dir-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/dir-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/dir-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/dir-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/dir-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/dir-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/dir-item.html' %}</div>
        </div>
        <div class="control">
          <div class="control-prev"></div>
          <div class="control-count"></div>
          <div class="control-next"></div>
        </div>
      </div>
    </div>
    <div class="find-section">
      <div class="find-top">
        <h3 class="title-lg">Выбирайте тренера, который<br> вам понравится</h3>
        <a href="#" class="btn btn-outline">Все тренеры</a>
      </div>
      <div class="find-trainer swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">{% include 'common/trainer-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/trainer-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/trainer-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/trainer-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/trainer-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/trainer-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/trainer-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/trainer-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/trainer-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/trainer-item.html' %}</div>
        </div>
        <div class="control">
          <div class="control-prev"></div>
          <div class="control-count"></div>
          <div class="control-next"></div>
        </div>
      </div>
    </div>
    <div class="find-section">
      <div class="find-top">
        <h3 class="title-lg">Ищите курсы или тренировки<br> по датам проведения</h3>
        <a href="#" class="btn btn-outline">Ближайшие события</a>
      </div>
      <ul class="find-tags">
        <li>Групповой курс</li>
        <li class="active">Для начинающих</li>
        <li>Индивидуально</li>
        <li>Онлайн</li>
        <li>Офлайн</li>
        <li>Для детей</li>
      </ul>
      <div class="find-event swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
        </div>
        <div class="control">
          <div class="control-prev"></div>
          <div class="control-count"></div>
          <div class="control-next"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="lead">
  <div class="container">
    <h2 class="title-xl">Отправьте заявку и мы подберем тренера и идеальный курс</h2>
    <h3 class="title-lg">Подберем курс по вашим пожеланиям, отправим индивидуальную подборку в течение 2 часов</h3>
    <div class="lead-row">
      <div class="lead-col">
        <p class="lead-placeholder">Как к вам обращаться?</p>
        <input class="lead-select__input" placeholder="Введите имя" required />
      </div>
      <div class="lead-col">
        <p class="lead-placeholder">Укажите, куда отправить предложение</p>
        <input class="lead-select__input masked" placeholder="+7 (___) ___-__-__" required />
        <div class="checkbox-row">
          <label class="checkbox checkbox-mg">
            <input type="checkbox" />
            <p><img src="img/svg/tg.svg" alt="">Telegram</p>
          </label>
          <label class="checkbox checkbox-mg">
            <input type="checkbox" />
            <p><img src="img/svg/wa.svg" alt="">What's App</p>
          </label>
        </div>
      </div>
    </div>
    <p class="lead-placeholder lead-placeholder-fill">Укажите пожелания, мы обязательно их учтем</p>
    <div class="lead-row">
      <div class="lead-col">
        <div class="lead-select">
          <input class="lead-select__input" placeholder="Выберите направление(ия)" />
          <div class="lead-select__open"></div>
          <div class="lead-select__dropdown">
            <div class="lead-select__check">Выделить: <span>выбрать все</span></div>
            <div class="lead-select__content">
              <label class="checkbox">
                <input type="checkbox" />
                <p>Фитнес</p>
              </label>
              <label class="checkbox">
                <input type="checkbox" />
                <p>Оздоровительные</p>
              </label>
              <label class="checkbox">
                <input type="checkbox" />
                <p>Командные</p>
              </label>
              <label class="checkbox">
                <input type="checkbox" />
                <p>Зимний спорт</p>
              </label>
              <label class="checkbox">
                <input type="checkbox" />
                <p>Танцы</p>
              </label>
              <label class="checkbox">
                <input type="checkbox" />
                <p>Единоборства</p>
              </label>
              <label class="checkbox">
                <input type="checkbox" />
                <p>Спортивное питание</p>
              </label>
            </div>
            <button class="btn btn-sm btn-outline">Применить</button>
          </div>
        </div>
      </div>
      <div class="lead-col">
        <div class="lead-select">
          <input class="lead-select__input" placeholder="Вид спорта" />
          <div class="lead-select__open"></div>
          <div class="lead-select__dropdown">
            <div class="lead-select__check">Выделить: <span>выбрать все</span></div>
            <div class="lead-select__content">
              <label class="checkbox">
                <input type="checkbox" />
                <p>Волейбол</p>
              </label>
              <label class="checkbox">
                <input type="checkbox" />
                <p>Баскетбол</p>
              </label>
              <label class="checkbox">
                <input type="checkbox" />
                <p>Гандбол</p>
              </label>
              <label class="checkbox">
                <input type="checkbox" />
                <p>Еще вариант</p>
              </label>
            </div>
            <button class="btn btn-sm btn-outline">Применить</button>
          </div>
        </div>
      </div>
      <div class="lead-col">
        <div class="lead-select">
          <input class="lead-select__input" placeholder="Продолжительность" />
          <div class="lead-select__open"></div>
          <div class="lead-select__dropdown">
            <div class="lead-select__check">Выделить: <span>выбрать все</span></div>
            <div class="lead-select__content">
              <label class="checkbox">
                <input type="checkbox" />
                <p>30 мин</p>
              </label>
              <label class="checkbox">
                <input type="checkbox" />
                <p>60 мин</p>
              </label>
              <label class="checkbox">
                <input type="checkbox" />
                <p>90 мин</p>
              </label>
              <label class="checkbox">
                <input type="checkbox" />
                <p>3 часа</p>
              </label>
              <label class="checkbox">
                <input type="checkbox" />
                <p>6 часа</p>
              </label>
              <label class="checkbox">
                <input type="checkbox" />
                <p>Еще вариант</p>
              </label>
            </div>
            <button class="btn btn-sm btn-outline">Применить</button>
          </div>
        </div>
      </div>
      <div class="lead-col">
        <div class="lead-select">
          <input class="lead-select__input" placeholder="Ваш уровень" />
          <div class="lead-select__open"></div>
          <div class="lead-select__dropdown">
            <div class="lead-select__check">Выделить: <span>выбрать все</span></div>
            <div class="lead-select__content">
              <label class="checkbox">
                <input type="checkbox" />
                <p>Начинающий</p>
              </label>
              <label class="checkbox">
                <input type="checkbox" />
                <p>Средний уровень</p>
              </label>
              <label class="checkbox">
                <input type="checkbox" />
                <p>Продвинутый уровень</p>
              </label>
              <label class="checkbox">
                <input type="checkbox" />
                <p>Профессионал</p>
              </label>
            </div>
            <button class="btn btn-sm btn-outline">Применить</button>
          </div>
        </div>
      </div>
      <div class="lead-col">
        <div class="lead-select">
          <input class="lead-select__input" placeholder="Выберите город" />
          <div class="lead-select__open"></div>
          <div class="lead-select__dropdown">
            <div class="lead-select__check">Выделить: <span>выбрать все</span></div>
            <div class="lead-select__content">
              <label class="checkbox">
                <input type="checkbox" />
                <p>Санкт-Петербург</p>
              </label>
              <label class="checkbox">
                <input type="checkbox" />
                <p>Москва</p>
              </label>
              <label class="checkbox">
                <input type="checkbox" />
                <p>Еще вариант</p>
              </label>
            </div>
            <button class="btn btn-sm btn-outline">Применить</button>
          </div>
        </div>
      </div>
      <div class="lead-col">
        <input class="lead-select__input" placeholder="Ваши пожелания или цели" />
      </div>
      <div class="lead-col">
        <label class="checkbox checkbox-mg">
          <input type="checkbox" />
          <p>Только онлайн тренировки</p>
        </label>
      </div>
      <div class="lead-col">
        <label class="checkbox checkbox-mg">
          <input type="checkbox" />
          <p>Для детей</p>
        </label>
      </div>
    </div>
    <div class="lead-end">
      <button class="btn btn-purple">Подборка тренировок для меня</button>
      <label class="checkbox">
        <input type="checkbox" checked />
        <p>Согласие на обработку персональных данных</p>
      </label>
    </div>
  </div>
</section>

<section class="lead-line"><div class="container"></div></section>

<section class="who">
  <div class="container">
    <h2 class="title-xl">Что нужно знать о нас</h2>
    <h3 class="title-xs">Преимущества использования нашего сервиса:</h3>
    <div class="who-row">
      <div class="who-item">
        <img src="img/who-4.jpg" alt="">
        <h4>Онлайн поддержка тренера в чате</h4>
        <div class="who-hover">
          <h5>Запланируйте встречу</h5>
          <p>Развернутое описание про этот этап: 1-2 предложения. Описывает важные моменты. Выводится при наведении.</p>
        </div>
      </div>
      <div class="who-item">
        <img src="img/who-5.jpg" alt="">
        <h4>Найдем тренировку под ваш график</h4>
        <div class="who-hover">
          <h5>Запланируйте встречу</h5>
          <p>Развернутое описание про этот этап: 1-2 предложения. Описывает важные моменты. Выводится при наведении.</p>
        </div>
      </div>
      <div class="who-item">
        <img src="img/who-6.jpg" alt="">
        <h4>Учтем ваши пожелания</h4>
        <div class="who-hover">
          <h5>Запланируйте встречу</h5>
          <p>Развернутое описание про этот этап: 1-2 предложения. Описывает важные моменты. Выводится при наведении.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pick">
  <div class="container">
    <div class="pick-text">
      <h2 class="title-xl">Тренировки на любой вкус</h2>
      <h3 class="title-lg">Укажите, что вы ищите, мы предложим вам подходящие тренировки</h3>
      <div class="btn-wrap"><a href="#" class="btn btn-purple">Подобрать тренировку</a></div>
    </div>
  </div>
</section>

<section class="popular">
  <div class="container">
    <h2 class="title-xl">Популярное для начинающих</h2>
    <div class="popular-slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
        <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
        <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
        <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
        <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
        <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
        <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
        <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
        <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
        <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
        <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
        <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
        <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
        <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
        <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
        <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
        <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
        <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
        <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
        <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
      </div>
      <div class="control">
        <div class="control-prev"></div>
        <div class="control-count"></div>
        <div class="control-next"></div>
      </div>
    </div>
  </div>
</section>

{% include 'common/trainer-you.html' %}

{% endblock %}