{% extends 'common/_layout.html' %}
{% set site_title = 'Главная' %}
{% set home = true %}

{% block content %}

<section class="promo">
  <div class="promo-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="img/promo-1.jpg" alt=""></div>
      <div class="swiper-slide"><img src="img/promo-2.jpg" alt=""></div>
    </div>
  </div>
  <div class="container">
    <div class="promo-content">
      <img src="img/svg/promo-title.svg" alt="">
      <p>Выбирайте тренировки и авторские курсы в онлайн или офлайн формате</p>
      <div class="btn-wrap"><a href="#" class="btn btn-purple">Смотреть все тренировки</a></div>
      <div class="btn-wrap"><a href="#" class="btn btn-outline">Все тренеры</a></div>
      <div class="promo-pagination"></div>
    </div>
  </div>
</section>

{% endblock %}