{% extends 'common/_layout.html' %}
{% set site_title = 'Главная' %}
{% set home = true %}

{% block content %}

<section class="promo">
  <div class="promo-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="img/promo-1.jpg" alt=""></div>
      <div class="swiper-slide"><img src="img/promo-2.jpg" alt=""></div>
    </div>
  </div>
  <div class="container">
    <div class="promo-content">
      <img src="img/svg/promo-title.svg" alt="">
      <p>Выбирайте тренировки и авторские курсы в онлайн или офлайн формате</p>
      <div class="btn-wrap"><a href="#" class="btn btn-purple">Смотреть все тренировки</a></div>
      <div class="btn-wrap"><a href="#" class="btn btn-outline">Все тренеры</a></div>
      <div class="promo-pagination"></div>
    </div>
  </div>
</section>

<section class="who">
  <div class="container">
    <h2 class="title-xl">Как работает наш сервис</h2>
    <h3 class="title-xs">Основые шаги</h3>
    <div class="who-row who-count">
      <div class="who-item">
        <img src="img/who-1.jpg" alt="">
        <h4>Выберите тренировку, которая вам понравится</h4>
        <div class="who-hover">
          <h5>Запланируйте встречу</h5>
          <p>Развернутое описание про этот этап: 1-2 предложения. Описывает важные моменты. Выводится при наведении.</p>
        </div>
      </div>
      <div class="who-item who-item__black">
        <img src="img/who-2.jpg" alt="">
        <h4>Получите подробную консультацию, познакомьтесь с тренером</h4>
        <div class="who-hover">
          <h5>Запланируйте встречу</h5>
          <p>Развернутое описание про этот этап: 1-2 предложения. Описывает важные моменты. Выводится при наведении.</p>
        </div>
      </div>
      <div class="who-item">
        <img src="img/who-3.jpg" alt="">
        <h4>Выберите время и формируйте плановое расписание тренировок</h4>
        <div class="who-hover">
          <h5>Запланируйте встречу</h5>
          <p>Развернутое описание про этот этап: 1-2 предложения. Описывает важные моменты. Выводится при наведении.</p>
        </div>
      </div>
    </div>
    <div class="btn-wrap"><a href="#" class="btn btn-tg"><img src="img/svg/tg.svg" alt="">Задать вопрос в чате</a></div>
  </div>
</section>

<section class="find">
  <div class="container">
    <h2 class="title-xl">Как найти курс, тренировку или другую услугу</h2>
    <div class="find-section">
      <div class="find-top">
        <h3 class="title-lg">Ищите тренировки по направлению,<br> которое вас интересует</h3>
        <a href="#" class="btn btn-outline">Смотреть все тренировки</a>
      </div>
      <div class="find-dir swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">{% include 'common/dir-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/dir-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/dir-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/dir-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/dir-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/dir-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/dir-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/dir-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/dir-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/dir-item.html' %}</div>
        </div>
        <div class="control">
          <div class="control-prev"></div>
          <div class="control-count"></div>
          <div class="control-next"></div>
        </div>
      </div>
    </div>
    <div class="find-section">
      <div class="find-top">
        <h3 class="title-lg">Выбирайте тренера, который<br> вам понравится</h3>
        <a href="#" class="btn btn-outline">Все тренеры</a>
      </div>
      <div class="find-trainer swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">{% include 'common/trainer-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/trainer-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/trainer-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/trainer-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/trainer-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/trainer-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/trainer-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/trainer-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/trainer-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/trainer-item.html' %}</div>
        </div>
        <div class="control">
          <div class="control-prev"></div>
          <div class="control-count"></div>
          <div class="control-next"></div>
        </div>
      </div>
    </div>
    <div class="find-section">
      <div class="find-top">
        <h3 class="title-lg">Ищите курсы или тренировки<br> по датам проведения</h3>
        <a href="#" class="btn btn-outline">Ближайшие события</a>
      </div>
      <ul class="find-tags">
        <li>Групповой курс</li>
        <li class="active">Для начинающих</li>
        <li>Индивидуально</li>
        <li>Онлайн</li>
        <li>Офлайн</li>
        <li>Для детей</li>
      </ul>
      <div class="find-event swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
          <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
        </div>
        <div class="control">
          <div class="control-prev"></div>
          <div class="control-count"></div>
          <div class="control-next"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="who">
  <div class="container">
    <h2 class="title-xl">Что нужно знать о нас</h2>
    <h3 class="title-xs">Преимущества использования нашего сервиса:</h3>
    <div class="who-row">
      <div class="who-item">
        <img src="img/who-4.jpg" alt="">
        <h4>Онлайн поддержка тренера в чате</h4>
        <div class="who-hover">
          <h5>Запланируйте встречу</h5>
          <p>Развернутое описание про этот этап: 1-2 предложения. Описывает важные моменты. Выводится при наведении.</p>
        </div>
      </div>
      <div class="who-item">
        <img src="img/who-5.jpg" alt="">
        <h4>Найдем тренировку под ваш график</h4>
        <div class="who-hover">
          <h5>Запланируйте встречу</h5>
          <p>Развернутое описание про этот этап: 1-2 предложения. Описывает важные моменты. Выводится при наведении.</p>
        </div>
      </div>
      <div class="who-item">
        <img src="img/who-6.jpg" alt="">
        <h4>Учтем ваши пожелания</h4>
        <div class="who-hover">
          <h5>Запланируйте встречу</h5>
          <p>Развернутое описание про этот этап: 1-2 предложения. Описывает важные моменты. Выводится при наведении.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pick">
  <div class="container">
    <div class="pick-text">
      <h2 class="title-xl">Тренировки на любой вкус</h2>
      <h3 class="title-lg">Укажите, что вы ищите, мы предложим вам подходящие тренировки</h3>
      <div class="btn-wrap"><a href="#" class="btn btn-purple">Подобрать тренировку</a></div>
    </div>
  </div>
</section>

<section class="popular">
  <div class="container">
    <h2 class="title-xl">Популярное для начинающих</h2>
    <div class="popular-slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
        <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
        <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
        <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
        <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
        <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
        <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
        <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
        <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
        <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
        <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
        <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
        <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
        <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
        <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
        <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
        <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
        <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
        <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
        <div class="swiper-slide">{% include 'common/event-item.html' %}</div>
      </div>
      <div class="control">
        <div class="control-prev"></div>
        <div class="control-count"></div>
        <div class="control-next"></div>
      </div>
    </div>
  </div>
</section>

{% endblock %}