{% extends 'common/_layout.html' %}
{% set site_title = 'ЛК - Информация о вас' %}
{% set home = false %}

{% block content %}

<section class="head">
  <div class="container">
    <ul class="head-breadcrumbs">
      <li><a href="#">Главная</a></li>
      <li><a href="#">{{ site_title }}</a></li>
    </ul>
    <h2 class="title-xl">Татьяна Агарипова, добрый день!</h2>
    <a href="#" class="btn btn-tg"><img src="img/svg/tg.svg" alt="">Чат поддержки тренера</a>
    <ul class="tab-list">
      <li class="active"><a href="#">Информация о вас</a></li>
      <li><a href="#">Мои тренировки</a></li>
      <li><a href="#">Настроить аккаунт</a></li>
      <li><a href="#">Условия сотрудничества</a></li>
    </ul>
    <div class="lk-head">
      <h3 class="title-lg">Информация о вас</h3>
      <p>Здесь указана ваша информация. При необходимости, вы можете менять данные. Вся информация проходит модерацию, поэтому для обновления информации потребуется до 2 дней</p>
      <a href="#" class="btn btn-outline">+ Добавить тренировку</a>
    </div>
  </div>
</section>

<section class="lk">
  <div class="container">
    <div class="lk-row">
      <div class="lk-sidebar">
        <div class="trainer-photo">
          <div class="trainer-photo__main">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="img/find-trainer.jpg" alt=""></div>
              <div class="swiper-slide"><img src="img/find-trainer.jpg" alt=""></div>
              <div class="swiper-slide"><img src="img/find-trainer.jpg" alt=""></div>
              <div class="swiper-slide"><img src="img/find-trainer.jpg" alt=""></div>
              <div class="swiper-slide"><img src="img/find-trainer.jpg" alt=""></div>
              <div class="swiper-slide"><img src="img/find-trainer.jpg" alt=""></div>
              <div class="swiper-slide"><img src="img/find-trainer.jpg" alt=""></div>
            </div>
          </div>
          <div class="trainer-photo__thumbs swiper-wrapper">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="img/find-trainer.jpg" alt=""></div>
              <div class="swiper-slide"><img src="img/find-trainer.jpg" alt=""></div>
              <div class="swiper-slide"><img src="img/find-trainer.jpg" alt=""></div>
              <div class="swiper-slide"><img src="img/find-trainer.jpg" alt=""></div>
              <div class="swiper-slide"><img src="img/find-trainer.jpg" alt=""></div>
              <div class="swiper-slide"><img src="img/find-trainer.jpg" alt=""></div>
              <div class="swiper-slide"><img src="img/find-trainer.jpg" alt=""></div>
            </div>
          </div>
        </div>
        <div class="btn-wrap"><a href="javascript:;" data-fancybox data-src="#popup-photo" class="btn btn-outline">Изменить фото</a></div>
      </div>
      <div class="lk-content">
        <div class="lk-section">
          <div class="lk-top">
            <div class="lk-id">ID 254</div>
          </div>
          <div class="lk-id__info">*ваш уникальный номер<br> аккаунт создан 12.04.2022 г.</div>
          <div class="lk-top">
            <h3 class="lk-title">ФИО</h3>
          </div>
          <div class="lk-fio">Агарипова Татьяна Ивановн</div>
          <div class="lk-top">
            <h3 class="lk-title">Контактные данные</h3>
          </div>
          <div class="lk-phone">+7 (911) 206-90-67</div>
          <div class="lk-email">mail@mail.ru</div>
        </div>
        <div class="lk-section">
          <div class="lk-top">
            <h3 class="lk-title">Мое местоположение</h3>
            <a href="javascript:;" data-fancybox data-src="#popup-about" class="lk-edit">Изменить</a>
          </div>
          <h4 class="lk-city">Санкт-Петербург</h4>
          <div class="lk-top">
            <h3 class="lk-title">Опыт и достижения</h3>
            <div class="lk-year">Стаж 8 лет</div>
          </div>
          <div class="lk-text">
            <ul>
              <li>Опыт тренерской работы – более 5 лет.</li>
              <li>1 место в чемпионате г. Санкт-Петербурга по борьбе самбо среди ветеранов, возрастная категория «35-44», 2017 г.</li>
              <li>Победитель международного турнира по дзюдо среди ветеранов, 2017 г.</li>
              <li>3 место в открытом турнире «Транснефть» по хоккею с шайбой, 2019 г.</li>
              <li>Чемпионат по универсальному бою – 3 степень, 2019 г.</li>
            </ul>
          </div>
          <div class="lk-top">
            <h3 class="lk-title">О себе</h3>
          </div>
          <div class="lk-text">
            <p>Кандидат в мастера спорта по самбо, чемпион г. Санкт-Петербурга по самбо 30+, 1 м международный турнир по дзюдо 35+, участник первенства страны 2017, 2018 г. по самбо., действующий призер чемпионата СПб по самбо 30+. Индивидуальный подход, гарантия результата, огромный спортивный и соревновательный опыт.</p>
          </div>
        </div>
        <div class="lk-section">
          <div class="lk-top">
            <h3 class="lk-title">Образование</h3>
            <a href="javascript:;" data-fancybox data-src="#popup-edu" class="lk-edit">Изменить</a>
          </div>
          <div class="lk-text">
            <ul>
              <li>Кандидат в мастера спорта по самбо, 2003 г</li>
            </ul>
          </div>
          <h3 class="title-md">Сертификаты</h3>
          <div class="trainer-sert">
            <a href="img/sert.jpg" data-fancybox="sert"><img src="img/sert.jpg" alt=""></a>
            <a href="img/sert.jpg" data-fancybox="sert"><img src="img/sert.jpg" alt=""></a>
            <a href="img/sert.jpg" data-fancybox="sert"><img src="img/sert.jpg" alt=""></a>
          </div>
        </div>
        <div class="lk-section">
          <div class="lk-top">
            <h3 class="lk-title">Соц сети</h3>
            <a href="javascript:;" data-fancybox data-src="#popup-contact" class="lk-edit">Изменить</a>
          </div>
          <div class="lk-text">
            <p><a href="#">@akkaunt_telegram</a></p>
            <p><a href="#">https://www.instagram.com/official</a></p>
          </div>
          <div class="lk-top">
            <h3 class="lk-title">Видео</h3>
          </div>
          <div class="trainer-video">
            <a href="https://www.youtube.com/watch?v=BypWAdlJkTg" data-fancybox class="trainer-video__item video"><img alt=""></a>
            <a href="https://www.youtube.com/watch?v=bnzHECC0Z8A" data-fancybox class="trainer-video__item video"><img alt=""></a>
          </div>
          <div class="lk-top">
            <h3 class="lk-title">Платежные реквизиты</h3>
          </div>
          <div class="lk-text">
            <p>Прописаны текстом тут<br> Прописаны текстом ту</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="popup popup-lk" id="popup-photo">
  <h3 class="title-lg">Изменить фото</h3>
  <form action="#" method="post">
    <label>
      <p>Добавьте основное фото профиля</p>
      <label class="file">
        <input type="file" />
        <p>+ Выбрать файл</p>
      </label>
      <span>1 фото</span>
    </label>
    <label>
      <p>Дополнительные фото</p>
      <label class="file">
        <input type="file" multiple="multiple" />
        <p>+ Выбрать файлы</p>
      </label>
      <span>До 10 фото</span>
    </label>
    <button class="btn btn-purple">Внести изменения</button>
  </form>
</div>

<div class="popup popup-lk" id="popup-about">
  <h3 class="title-lg">Изменить данные о себе</h3>
  <form action="#" method="post">
    <label>
      <div class="lead-select">
        <input class="lead-select__input" placeholder="Ваше местоположение" disabled />
        <div class="lead-select__open"></div>
        <div class="lead-select__dropdown">
          <div class="lead-select__check">Выделить: <span>выбрать все</span></div>
          <div class="lead-select__content">
            <label class="checkbox">
              <input type="checkbox" />
              <p>Санкт-Петербург</p>
            </label>
            <label class="checkbox">
              <input type="checkbox" />
              <p>Москва</p>
            </label>
            <label class="checkbox">
              <input type="checkbox" />
              <p>Еще вариант</p>
            </label>
          </div>
          <div class="btn-wrap"><a href="javascript:;" class="btn btn-sm btn-outline">Применить</a></div>
        </div>
      </div>
    </label>
    <label>
      <textarea class="textarea" placeholder="Опишите опыт и достижения"></textarea>
    </label>
    <label>
      <textarea class="textarea" placeholder="Расскажите о себе"></textarea>
    </label>
    <button class="btn btn-purple">Внести изменения</button>
  </form>
</div>

<div class="popup popup-lk" id="popup-edu">
  <h3 class="title-lg">Изменить данные об образовании</h3>
  <form action="#" method="post">
    <label>
      <p>Когда и где обучались</p>
      <textarea class="textarea" placeholder="Например, в 2020 окончил Московский городской педагогический университет по специальности Технологии спортивной подготовки"></textarea>
    </label>
    <label>
      <p>Приложите документы и сертификаты об образовании</p>
      <label class="file">
        <input type="file" multiple="multiple" />
        <p>+ Выбрать файлы</p>
      </label>
      <span>формат PDF, JPG или PNG</span>
    </label>
    <button class="btn btn-purple">Внести изменения</button>
  </form>
</div>

<div class="popup popup-lk" id="popup-contact">
  <h3 class="title-lg">Изменить данные</h3>
  <form action="#" method="post">
    <label>
      <p>Добавьте видео о вас или ваших тренировках длительностью до 20 минут</p>
      <textarea class="textarea" placeholder="Укажите ссылки"></textarea>
    </label>
    <label>
      <p>Добавьте ссылки на ваши соц.сети</p>
      <textarea class="textarea" placeholder="Например, вконтакте"></textarea>
    </label>
    <label>
      <p>Укажите данные лицевого счёта для денежных расчётов</p>
      <textarea class="textarea" placeholder="Введите  платежные реквизиты"></textarea>
    </label>
    <button class="btn btn-purple">Внести изменения</button>
  </form>
</div>

<div class="popup" id="popup-send">
  <h3 class="title-lg">Запрос на изменение данных отправлен администратору</h3>
</div>

{% endblock %}