{% extends 'common/_layout.html' %}
{% set site_title = 'ЛК - Условия сотрудничества' %}
{% set home = false %}

{% block content %}

<section class="head">
  <div class="container">
    <ul class="head-breadcrumbs">
      <li><a href="#">Главная</a></li>
      <li><a href="#">{{ site_title }}</a></li>
    </ul>
    <h2 class="title-xl">Татьяна Агарипова, добрый день!</h2>
    <a href="#" class="btn btn-tg"><img src="img/svg/tg.svg" alt="">Чат поддержки тренера</a>
    <ul class="tab-list">
      <li><a href="#">Информация о вас</a></li>
      <li><a href="#">Мои тренировки</a></li>
      <li><a href="#">Настроить аккаунт</a></li>
      <li class="active"><a href="#">Условия сотрудничества</a></li>
    </ul>
    <div class="lk-head">
      <h3 class="title-lg">Условия сотрудничества</h3>
    </div>
  </div>
</section>

<section class="lk">
  <div class="container">
    <div class="lk-rules">
      <h2 class="title-xl">Как мы сотрудничаем с тренерами</h2>
      <p>Описание условий сотрудничества</p>
      <p>Описание условий сотрудничества</p>
      <h3 class="title-md">Пункт 1</h3>
      <p>Описание условий сотрудничества</p>
      <p>Описание условий сотрудничества</p>
      <h3 class="title-md">Пункт 1</h3>
      <p>Описание условий сотрудничества</p>
      <p>Описание условий сотрудничества</p>
      <h3 class="title-md">Пункт 1</h3>
      <p>Описание условий сотрудничества</p>
      <p>Описание условий сотрудничества</p>
    </div>
  </div>
</section>

{% endblock %}