.dir
  &-item
    position: relative
    &:hover .dir-img img
      transform: scale(1.1)
    a
      text-align: center
      display: block
      &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
  &-img
    overflow: hidden
    padding-bottom: 100%
    position: relative
    margin-bottom: 15px
    img
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      object-fit: cover
      object-position: center
      transition: .2s
