.lk
  padding-bottom: 90px
  &-head
    @include flexbox
    align-items: flex-start
    width: 100%
    .title-lg
      width: 100%
    p
      max-width: 600px
      margin-top: 15px
    .btn
      margin-left: auto
  &-title-content
    margin-bottom: 30px
  .grid
    .event-item
      margin: 40px 10px 0
      width: calc(100% / 4 - 20px)
  &-event-item
    .btn-wrap
      width: 100%
      justify-content: center
      flex-direction: column
      margin-top: 20px
    .btn
      padding: 15px 0
      width: 100%
    .event-title::before
      bottom: 100px
  &-event-delete
    margin-top: 15px
    display: block
    color: #9b9b9b
    border-bottom: 1px solid #9B9B9B
  &-setting
    &-form
      max-width: 290px
      p
        font-size: 12px
        margin-top: 40px
        &:first-child
          margin-top: 0
      .btn
        margin-top: 40px
  &-rules
    .title-xl
      margin-bottom: 40px
    .title-md
      margin-top: 40px
      margin-bottom: 20px
    p
      margin-top: 10px
      line-height: 1.4

  &-workout
    &-form
      max-width: 290px
      label
        margin-top: 20px
        display: block
        &:first-child
          margin-top: 0
        p
          font-size: 12px
      .title-lg
        margin-top: 40px
      span
        font-size: 12px
        color: #9b9b9b
      small
        font-size: 12px
        color: #d2d2d2
        display: block
        margin-top: 10px
      .event-filter__datepicker
        margin-top: 10px
      .btn-purple
        margin-top: 40px

  &-row
    @include flexbox
    align-items: flex-start
  &-sidebar
    width: 290px
    .btn-wrap
      justify-content: center
      margin-top: 30px
  &-content
    width: calc(100% - 290px - 30px)
    margin-left: auto
  &-section
    padding: 40px 0
    border-top: 1px solid #E3E3E3
    &:first-child
      border: 0
      padding-top: 0
    &:last-child
      padding-bottom: 0
    .title-md
      margin-bottom: 10px
      margin-top: 40px
      &:first-child
        margin-top: 0
  &-top
    @include flexbox
    align-items: center
    margin-bottom: 10px
    margin-top: 40px
    &:first-child
      margin-top: 0
  &-title
    font-size: 16px
    font-weight: 400
  &-edit
    color: $color-queen-blue
    border-bottom: 1px solid $color-queen-blue
    transition: .2s
    margin-left: auto
    &:hover
      color: $color-purple
      border-bottom: 1px solid $color-purple
  &-year
    font-size: 14px
    color: $color-queen-blue
    margin-left: 15px
  &-text
    line-height: 1.4
    ul
      list-style: disc
      padding-left: 15px
    ul, p
      margin-top: 10px
      &:first-child
        margin-top: 0
    a
      color: $color-queen-blue
      border-bottom: 1px solid $color-queen-blue
      transition: .2s
      &:hover
        color: $color-purple
        border-bottom: 1px solid $color-purple
  &-city, &-fio
    margin-bottom: 40px
    font-size: 18px
    font-weight: 700
  &-id
    color: $color-queen-blue
    &__info
      color: #9b9b9b
  &-phone
    font-size: 18px
    font-weight: 700
  &-email
    margin-top: 10px
    font-size: 16px

.file
  padding: 10px 15px
  border: 1px dashed $color-black
  margin-bottom: 5px
  margin-top: 10px !important
  text-align: center
  input
    @include visually-hidden

.popup-lk
  .title-lg
    margin-bottom: 20px
  label
    margin-top: 20px
    display: block
    &:first-child
      margin-top: 0
    p
      font-size: 12px
  span
    font-size: 12px
    color: #9b9b9b
  small
    font-size: 12px
    color: #d2d2d2
    display: block
    margin-top: 10px
  .btn-purple
    margin-top: 30px
