.tab
  &-list
    width: 100%
    @include flexbox
    align-items: center
    margin-top: 40px
    li
      font-size: 16px
      font-weight: 500
      border-bottom: 2px solid transparent
      padding: 5px 0 3px
      cursor: pointer
      margin: 0 30px
      position: relative
      &.active
        color: $color-purple
        border-bottom: 2px solid $color-purple
      &:first-child
        margin-left: 0
      &::before
        content: ''
        position: absolute
        top: 14px
        right: -45px
        width: 30px
        height: 1px
        background: $color-black
        transform: rotate(120deg)
      &:last-child
        margin-right: 0
        &::before
          display: none
  &-content
    width: 100%
    display: none
    margin-top: 40px
    &.active
      display: block
    .title-md
      margin-bottom: 20px
      margin-top: 30px
      &:first-child
        margin-top: 0
    ul:not(.trainer-info)
      list-style: disc
      margin-top: 20px
      padding-left: 17px
      li
        margin-top: 10px
        &:first-child
          margin-top: 0
      &:first-child
        margin-top: 0
    ol
      margin-top: 20px
      padding-left: 17px
      li
        margin-top: 10px
        &:first-child
          margin-top: 0
      &:first-child
        margin-top: 0
    p
      margin-top: 20px
    .btn
      margin-left: 0
      margin-top: 30px
